<header>
	<nav>
    <label for="nav-toggle">
      {% include list.svg %}
    </label>
    <input type="checkbox" id="nav-toggle" name="nav-toggle">
		<ul id="navigation">
			<li><a href="https://www.facebook.com/CommunityNTNU">Facebook</a></li>
			<li><a href="https://github.com/communityNTNU">GitHub</a></li>
			<li><a href="http://survive.ntnu.com.tw/calendar_tutorial/">說明與教學</a></li>
			<li>
				<a href="http://goo.gl/forms/pp1k1G3MQM" data-mode="2" target="_blank">提交活動</a>
			</li>
		</ul>
	</nav>
</header>
